h1 {
    /* color:fuchsia;
    background-color: cyan; */
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img {
    width:100%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chapeau {
    font-size:larger;
}

.rouge {
    color:red;
}

.vert {
    color:green;
}